---
const {icon, alt, text} = Astro.props;
---
<div class="border-2 flex flex-col items-center gap-4 p-4 text-center rounded-sm mb-4 md:mb-0 ">
    <img src={icon} alt={alt} class="max-w-[24px]"/>
    <p>{text}</p>
  </div>