---
const {flag ,code, currency} = Astro.props;
---

<div class="flex gap-2 w-full justify-center md:w-auto border-2 px-4 py-2 rounded-sm">
    <span>{flag}</span>
    <span>{code} - {currency}</span>
  </div>